* {
    margin: 0;
    padding: 0;
}
:root {
    --backgroundBodyC: #202b49;
    --backgroundC: rgb(233, 19, 76); 
}
body {
    background-color: var(--backgroundBodyC);
    font-size: 30px;
    font-family: 'VT323', monospace;
    
    
}

.start-screen-container,.startGameBtn {
    background: none;
    border: none;
    font-family:'VT323', monospace ;
    text-shadow:3px 5px   #8196dd; 
    text-align: center;
    background-color: none;
    background: none;
}
.start-screen-container h1 {
    color: var(--backgroundBodyC);
    font-size: 90px
}
.curtain-left h1  {
    margin-right: 40px
}

.curtain-right h1  {
    z-index: 999;
    margin-left: 3.8rem
}

.curtain-left .startGameBtn  {
    margin-right: 3rem
}
.curtain-right .startGameBtn  {
    margin-left:3rem
}
.curtains {
   display: flex;
   width: 100%;
   height: 100vh;
   justify-content: center;
   align-content: center;
   position: absolute;
   z-index:1;
}
.curtain-right,.curtain-left {
   width: 100%;
   float: 50%;
   background-color:white;
}
.curtain-right {
    display: inline;
    justify-content: center;
}
.curtain-left {
    display: inline;
    z-index: 2;
}
.curtain-right .start-screen-container {
  /*  transform: translate(-42%);*/
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100px;
    transform: translate(10%);
}
.curtain-left .start-screen-container {
   /* transform: translate(42%);*/
    top: 50%;
    left: 50%;
    height: 100%;
    /*margin-right: 60px;*/
    transform: translate(45%)
}
.curtain-left .startGameBtn{
    margin-right:50px ;
}
.start-screen-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
}

.start-screen h1 {
    z-index: 2;
}
.startGameBtn {
    font-size: 4rem;
    color: var(--backgroundC);
    margin-left: 2.5rem;
}
.roshambo-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
.roshambo {
    width: 100%;
    height: 100vh;
    z-index:0;
}
.players-score-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
}
.player-score,.computer-score {
    text-align: center;
}
.computer-shape-img,.player-shape-img {
    width: 250px;
    height: 250px;
    border: white 3px solid;
    border-radius: 50%;
}
.players-chosen-shapes-container {
    display: flex;
   justify-content: center;
   justify-content: space-evenly;
   margin-bottom: 4rem;  
}
.shapes-options-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.shapes-options-container button {
    padding: 1rem;
    width: 20%;
    margin-right: 5px;
    background-color: var(--backgroundC);
    border: none;
}
.roshambo-winner-container {
    display: none;
    width: 30%;
    height: 60%;
    padding: 2.5rem;
    background-color: rgb(33, 33, 33);
    justify-content: center;
    align-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    border-radius: 10%;
}
.roshambo-winner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.final-score {
    display: flex;
    justify-content: space-between;
}
.final-score div {
    display: flex;
}
.final-computer-score-container,.final-player-score-container {
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    justify-content: space-around;
}
/* class list*/
.addBlur {
    filter: blur(2px);
}
@media (max-width:500px) {
    .roshambo {
        overflow-y: hidden;
    }
    .players-score-container {
      font-size: 20px;
      margin-bottom: 0;
     }
    .players-chosen-shapes-container {
        margin-top:0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 1em;
        height: 60%;
    }
    .computer-shape-img,.player-shape-img {
       width: 150px;
       height: 150px;
       margin-bottom: 0;
    }
    .computer-score,.player-score {
        font-size: 2.5rem;
    }
    .player-shape-img {
        margin-top: 100px;
    }
    .shapes-options-container {
        position: relative;
        top: -36%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -10%);
    }
    .shapes-options-container button {
        width: 25%;
    }
    .roshambo-winner-container {
        width: 75%;
    }
   .curtain-right .start-screen-container {
        top: 50%;
        left: 50%;
        height: 100%;
        width: 50px;
        transform: translate(50%);
      }
      .curtain-left .start-screen-container {
        transform: translate(42%);
        top: 50%;
        left: 50%;
        height: 100%;
        width: 100px;
        transform: translate(50%)
      } 
      .curtain-right .start-screen-container h1 {
          transform: translate(0px);
      }
      .curtain-left .start-screen-container h1 {
          transform: translate(60px)
      }  
      .curtain-right .start-screen-container .startGameBtn {
        transform: translate(5px)
    } 
    .curtain-left .start-screen-container .startGameBtn {
        transform: translate(40px)
    }  
    }
    @media (max-width:400px) {
    .curtain-right .start-screen-container h1 {
            transform: translate(5px);
    }
    .curtain-left .start-screen-container h1 {
            transform: translate(60px)
    }  
    }
    @media (max-width:380px) {
        .curtain-right .start-screen-container h1 {
                transform: translate(20px);
        }
        .curtain-left .start-screen-container h1 {
                transform: translate(60px)
        } 
        .curtain-right .start-screen-container {
            top: 50%;
            left: 50%;
            height: 100%;
            width: 50px;
            transform: translate(20%);
          }
          .curtain-left .start-screen-container {
            transform: translate(42%);
            top: 50%;
            left: 50%;
            height: 100%;
            width: 100px;
            transform: translate(30%)
          }  
        }
